<div [@routerTransition]>
  
      <app-page-header [heading]="'Activities'" [icon]="'fa-edit'"></app-page-header>
      
      <div class="row">

          <div class="col-lg-3">
      
              <fieldset class="form-group">    
                  <label>Select module</label>              
                  <select class="form-control" name="subsection" [(ngModel)]="selectedModule">
                     <option  value="all">* All field activities</option>
                     <option  value="forms">All forms</option>
                     <option  value="photos">Photos</option>
                     <option  value="visits">Place visits</option>
                     <option  value="notes">Place notes</option>
                     <option  value="newplaces">New places</option>
                     <option  value="audits">Retail audits</option>
                  </select>
              </fieldset>
              
          </div>       
          
          <div class="col-lg-3">
              <fieldset class="form-group">
                  <label>From</label>
                  <input [(ngModel)]="dateFrom" type="date" class="form-control" (popupClosed)="dateFromSelected()" ngui-datetime-picker date-only="true" />
              </fieldset>
              
          </div>

          <div class="col-lg-3">
              <fieldset class="form-group">
                  <label>To</label>
                  <input [(ngModel)]="dateTo" type="date" class="form-control" (popupClosed)="dateToSelected()" ngui-datetime-picker date-only="true" />
              </fieldset>
          </div>

          <div class="col-lg-3">
             
          </div>

          
          <fieldset class="form-group">
              <button type="button" (click)="showDialog()" class="btn btn-sm btn-danger">Add Filter</button>
          </fieldset>
          &nbsp;
          &nbsp;
          <fieldset class="form-group">
              <button type="button" (click)="applyFiltersApi()" [disabled] = "isAppyButtonDisabled()" class="btn btn-sm btn-danger">Apply</button>
          </fieldset>
          &nbsp;
          &nbsp;
          &nbsp;
          <fieldset class="form-group">
              <label><input type="checkbox" [hidden]="UserSelectedModel===false" [(ngModel)]="UserSelectedModel" (change)="handleUserChange($event)"> {{dtoUserName}}</label>
          </fieldset>
          &nbsp;
          &nbsp;
          &nbsp;
          <fieldset class="form-group">
              <label><input type="checkbox" [hidden]="PlaceSelectedModel===false" [(ngModel)]="PlaceSelectedModel" (change)="handlePlaceChange($event)"> {{dtoPlaceName}}</label>
          </fieldset>

          <div class="form-group">
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
          </div>
         
      </div>

      <p-dialog header="Select Filter(s) Here" [(visible)]="displayDialog" modal="modal" width="500" height="auto" responsive="true" positionTop="80">
          
                      
          <label>Representative</label>
          <fieldset class="form-group">
              <p-autoComplete  [(ngModel)]="selectedUser" (onSelect)="setSelectedUser(selectedUser)" (completeMethod)="searchUser($event)" [suggestions]="filteredCachedUsers" field="fullName"  [size]="53"></p-autoComplete>
          </fieldset>
  
          <label>Place</label>
          <fieldset class="form-group">
              <p-autoComplete  [(ngModel)]="selectedPlace" (onSelect)="setSelectedPlace(selectedPlace)" (completeMethod)="searchPlace($event)" [suggestions]="filteredCachedPlaces" field="name" [size]="53"></p-autoComplete>
          </fieldset>
        
  
           <p-footer>
               <button type="button" class="btn btn-sm btn-danger" (click)="addFilter()" [disabled]="dtoUserId ==='' && dtoPlaceId===''" >Ok</button>
               <button type="button" (click)="hideDialog()" class="btn btn-sm btn-danger">Cancel</button>
           </p-footer>
   
         </p-dialog>

    
  </div>