<div [@routerTransition]>
    <app-page-header [heading]="'Forms'" [icon]="'fa-edit'"></app-page-header>
    

    <div class="row">
        
        <div class="col-lg-6">
            <fieldset class="form-group">
                <label>Name</label>
                <input class="form-control"  placeholder="Name" [(ngModel)]="PlaceModel.Name">
            </fieldset>

            <fieldset class="form-group">
                <label>Status</label>
                <select class="form-control" [(ngModel)]="PlaceModel.SelectedStatus">
                    <option *ngFor="let item of status" value="{{item.id}}">{{item.name}}</option>
                </select>
            </fieldset>
        </div>

        <div class="col-lg-5">

            <fieldset class="form-group">
                <h4>Representatives</h4>
             </fieldset>

             <fieldset class="form-group">
                 <button type="button"  class="btn btn-sm btn-danger" (click)="showRepList()" [disabled]="parsePlaceid() === ''">Add Representative</button>
             </fieldset>


             <!-- Representatives List Table -->
              <p-dataTable [value]="reps" [rows]="15" [immutable]="false"  [paginator]="true"  #dt>
                  <p-column field="fullName" header="Name" [sortable]="true">
                      <ng-template let-col let-rep="rowData" pTemplate="body">
                          <span [style.color]="rep[col.field]">{{rep[col.field]}}</span>
                      </ng-template>
                  </p-column>

                  <p-column styleClass="col-button">
                      <ng-template pTemplate="header">
                      </ng-template>
                        
                          <ng-template let-rep="rowData" pTemplate="body">
                          <div align="center">
                              <button type="button" class="btn btn-sm btn-danger" (click)="deleteRepApi(rep)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                          </div>
                      </ng-template>
                  </p-column>

              </p-dataTable>
        <!-- End Representatives List Table -->
        </div>
    </div>

    <!-- Add Representative Dialog -->
        <p-dialog header="Add Representative" [(visible)]="displayReplist" modal="modal" width="300"   positionTop="80"  [responsive]="true">

                <p-listbox [options]="users" [(ngModel)]="SelectedUsers" multiple="multiple" checkbox="checkbox" filter="filter">
                        <ng-template let-user pTemplate="body">
                                <span style="font-size:14px;">{{user.label}}</span>
                        </ng-template>
                </p-listbox>

                <p-footer>
                    <button type="button" class="btn btn-sm btn-danger" [disabled]="SelectedUsers.length<1" (click)="addRepPlaceListApi()">Save</button>
                    <button type="button" (click)="hideRepList()" class="btn btn-sm btn-danger">Cancel</button>
                </p-footer>


        </p-dialog>
    <!-- End Representative Dialog -->

     <p></p>
     <p></p>

      <div class="row">
        
          <div class="col-lg-6">
              
                <fieldset class="form-group">
                    <h4>Address Info</h4>
                </fieldset>

                <div class="container">
                        <div class="form-group">
                        <input placeholder="search address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" [(ngModel)]="PlaceModel.StreetAddress" class="form-control" #search [formControl]="searchControl">
                        </div>
                        <sebm-google-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                             <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude"></sebm-google-map-marker>
                        </sebm-google-map>
                </div>
                
        </div>

        <div class="col-lg-6">
                <fieldset class="form-group">
                    <h4>Contact Info</h4>
                </fieldset>

                <fieldset class="form-group">
                    <label>Contact Name</label>
                    <input class="form-control"  placeholder="Contact Name" [(ngModel)]="PlaceModel.ContactName">
                </fieldset>

                <fieldset class="form-group">
                    <label>Contact Title</label>
                    <input class="form-control"  placeholder="Contact Title" [(ngModel)]="PlaceModel.ContactTitle">
                </fieldset>

                <fieldset class="form-group">
                    <label>Phone</label>
                    <input class="form-control"  placeholder="Phone" [(ngModel)]="PlaceModel.Phone">
                </fieldset>

                <fieldset class="form-group">
                    <label>Cell Phone</label>
                    <input class="form-control"  placeholder="Cell Phone" [(ngModel)]="PlaceModel.CellPhone">
                </fieldset>

                <fieldset class="form-group">
                    <label>Email</label>
                    <input class="form-control"  placeholder="Email" [(ngModel)]="PlaceModel.Email">
                </fieldset>

                <fieldset class="form-group">
                    <label>Website</label>
                    <input class="form-control"  placeholder="Website" [(ngModel)]="PlaceModel.Website">
                </fieldset>
        </div>

    </div>

    <button type="button"  class="btn btn-sm btn-danger" (click)="savePlaceApi()" [disabled]="PlaceModel.Name===''">Save Place</button>

    <button type="button"  class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button>


</div>
