<div [@routerTransition]>
      
      <div [ngBusy]="busy"></div>
  
      <app-page-header [heading]="'View Tenants'" [icon]="'fa-edit'"></app-page-header>

      <button type="button" (click) ="showDialog()" class="btn btn-sm btn-danger">Add New Tenant</button>
      
      <p></p>

      <!-- Tenant List Table -->
        <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #search type="text" pInputText size="50" placeholder="Global Filter">
        </div>
      <p-dataTable [value]="tenants" [rows]="15" [immutable]="false"  [paginator]="true"  [globalFilter]="search"  #dt>
                  <p-column field="name" header="Name" [sortable]="true">
                      <ng-template let-col let-tenant="rowData" pTemplate="body">
                          <span [style.color]="tenant[col.field]">{{tenant[col.field]}}</span>
                      </ng-template>
                  </p-column>

                  <p-column field="address" header="Address" [sortable]="true">
                    <ng-template let-col let-tenant="rowData" pTemplate="body">
                        <span [style.color]="tenant[col.field]">{{tenant[col.field]}}</span>
                    </ng-template>
                 </p-column>

                 <p-column field="contactPerson" header="Contact Person" [sortable]="true">
                    <ng-template let-col let-tenant="rowData" pTemplate="body">
                        <span [style.color]="tenant[col.field]">{{tenant[col.field]}}</span>
                    </ng-template>
                 </p-column>

                 <p-column field="contactNumber" header="Contact Number" [sortable]="true">
                    <ng-template let-col let-tenant="rowData" pTemplate="body">
                        <span [style.color]="tenant[col.field]">{{tenant[col.field]}}</span>
                    </ng-template>
                </p-column>

                  <p-column styleClass="col-button">
                        <ng-template pTemplate="header">
                        </ng-template>
                        <ng-template let-tenant="rowData" pTemplate="body">
                            <div align="center">
                                <button type="button" (click)="editTenant(tenant)" class="btn btn-sm btn-danger">
                                    <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                </button>
                            </div>
                         </ng-template>
                   </p-column>

                  <p-column styleClass="col-button">
                      <ng-template pTemplate="header">
                      </ng-template>
                        
                          <ng-template let-tenant="rowData" pTemplate="body">
                            <div align="center">
                               <button type="button" class="btn btn-sm btn-danger" (click)="deleteTenantApi(tenant)">
                                 <i class="fa fa-trash" aria-hidden="true"></i>
                              </button>
                            </div>
                      </ng-template>
                  </p-column>
              </p-dataTable>
       <!-- End Tenant List Table -->

       <!-- Add Tenant Dialog -->
       <p-dialog header="Add Tenant" [(visible)]="displayDialog" modal="modal" width="400" positionTop="80" [style]="{'background-color':'#ffffff'}" [responsive]="true">
       
        
        <fieldset class="form-group">
            <label>Name</label>
            <input class="form-control" [(ngModel)]="TenantModel.Name" />
        </fieldset>

        <fieldset class="form-group">
            <label>Address</label>
            <textarea class="form-control" [(ngModel)]="TenantModel.Address"></textarea>
        </fieldset>

        <fieldset class="form-group">
            <label>Phone</label>
            <input class="form-control" [(ngModel)]="TenantModel.Phone" />
        </fieldset>

        <fieldset class="form-group">
            <label>Email</label>
            <input class="form-control" type="email" [(ngModel)]="TenantModel.Email" />
        </fieldset>

        <fieldset class="form-group">
            <label>WebSite (please start with http://)</label>
            <input class="form-control" [(ngModel)]="TenantModel.WebSite" />
        </fieldset>

        <fieldset class="form-group">
            <label>Contact Person</label>
            <input class="form-control" [(ngModel)]="TenantModel.ContactPerson" />
        </fieldset>

        <fieldset class="form-group">
            <label>Contact Number</label>
            <input class="form-control" [(ngModel)]="TenantModel.ContactNumber" />
        </fieldset>

        <p-footer>
            <button type="button" class="btn btn-sm btn-danger" (click)="saveTenant()" [disabled]="TenantModel.Name==='' || !isEmailValid() || !isUrlValid()">Save</button>
            <button type="button" (click)="hideDialog()" class="btn btn-sm btn-danger">Cancel</button>
        </p-footer>

      </p-dialog>

  <!-- End Add Status Dialog -->
  
  
  </div>