<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Technocrat CRM Login</h1>
            
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="username" class="form-control input-underline input-lg" id="" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="password" class="form-control input-underline input-lg" id="" placeholder="Password">
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="onLoggedin()"> Log in </a>
                
           
        </div>
    </div>
</div>
