<div [@routerTransition]>
  
      <app-page-header [heading]="'View Products'" [icon]="'fa-edit'"></app-page-header>

      <button type="button" (click) ="showProductDialog()" class="btn btn-sm btn-danger">Add New Product</button>
      
      <p></p>

      <!-- Product List Table -->
      <p-dataTable [value]="products" [rows]="15" [immutable]="false"  [paginator]="true"  #dt>
                  <p-column field="name" header="Name" [sortable]="true">
                      <ng-template let-col let-product="rowData" pTemplate="body">
                          <span [style.color]="product[col.field]">{{product[col.field]}}</span>
                      </ng-template>
                  </p-column>

                  <p-column styleClass="col-button">
                        <ng-template pTemplate="header">
                        </ng-template>
                        <ng-template let-product="rowData" pTemplate="body">
                            <div align="center">
                                <button type="button" (click)="editProduct(product)" class="btn btn-sm btn-danger">
                                    <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                </button>
                            </div>
                         </ng-template>
                   </p-column>

                  <p-column styleClass="col-button">
                      <ng-template pTemplate="header">
                      </ng-template>
                        
                          <ng-template let-product="rowData" pTemplate="body">
                           <div align="center">
                              <button type="button" class="btn btn-sm btn-danger" (click)="deleteProductApi(product)">
                                 <i class="fa fa-trash" aria-hidden="true"></i>
                             </button>
                           </div>
                      </ng-template>
                  </p-column>
              </p-dataTable>
       <!-- End Product List Table -->

       <!-- Add Product Dialog -->

       <p-dialog header="Add Product" [(visible)]="displayProductDialog" modal="modal" width="300" positionTop="80" [style]="{'background-color':'#ffffff'}" [responsive]="true">
       
        
        <fieldset class="form-group">
            <input class="form-control" placeholder="Type product name here" [(ngModel)]="ProductModel.Name">
        </fieldset>

        <p-footer>
            <button type="button" class="btn btn-sm btn-danger" (click)="saveProduct()" [disabled]="ProductModel.Name===''">Save</button>
            <button type="button" (click)="hideProductDialog()" class="btn btn-sm btn-danger">Cancel</button>
        </p-footer>

      </p-dialog>

  <!-- End Add Product Dialog -->
  
  
  </div>