<div [@routerTransition]>
       
     <div [ngBusy]="busy"></div>
  
      <app-page-header [heading]="'View Places'" [icon]="'fa-edit'"></app-page-header>

      <a [routerLink] ="['/place','0']"><button type="button"  class="btn btn-sm btn-danger">Add New Place</button></a>
      
      <p></p>

      <!-- Place List Table -->
       <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #search type="text" pInputText size="50" placeholder="Global Filter">
       </div>
      <p-dataTable [value]="places" [rows]="15" [immutable]="false"  [paginator]="true" [globalFilter]="search"  #dt>
              <p-column field="name" header="Name" [sortable]="true">
                  <ng-template let-col let-place="rowData" pTemplate="body">
                      <span [style.color]="place[col.field]">{{place[col.field]}}</span>
                  </ng-template>
              </p-column>

              <p-column field="streetAddress" header="StreetAddress" [sortable]="true">
                <ng-template let-col let-place="rowData" pTemplate="body">
                    <span [style.color]="place[col.field]">{{place[col.field]}}</span>
                </ng-template>
              </p-column>

              <p-column field="city" header="City" [sortable]="true">
                <ng-template let-col let-place="rowData" pTemplate="body">
                    <span [style.color]="place[col.field]">{{place[col.field]}}</span>
                </ng-template>
             </p-column>

            <p-column field="state" header="State" [sortable]="true">
                <ng-template let-col let-place="rowData" pTemplate="body">
                    <span [style.color]="place[col.field]">{{place[col.field]}}</span>
                </ng-template>
            </p-column>

            <p-column styleClass="col-button">
                <ng-template pTemplate="header">
                </ng-template>
                <ng-template let-place="rowData" pTemplate="body">
                    <div align="center">
                            <a [routerLink] ="['/place',place.id]">
                                <button type="button"  class="btn btn-sm btn-danger">
                                    <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                </button>
                            </a>
                    </div>
                  </ng-template>
              </p-column>

              <p-column styleClass="col-button">
                      <ng-template pTemplate="header">
                      </ng-template>
                      <ng-template let-place="rowData" pTemplate="body">
                           <div align="center">
                              <button type="button" class="btn btn-sm btn-danger" (click)="deletePlaceApi(place)">
                                 <i class="fa fa-trash" aria-hidden="true"></i>
                             </button>
                           </div>
                     </ng-template>
                  </p-column>
             </p-dataTable>
       <!-- End Place List Table -->
  </div>