<div [@routerTransition]>
    
        <app-page-header [heading]="'View Retail Audit Forms'" [icon]="'fa-edit'"></app-page-header>
  
        <a [routerLink] ="['/retailauditform','0']"><button type="button"  class="btn btn-sm btn-danger">New Retail Audit</button></a>
        
        <p></p>
  
        <!-- Forms List Table -->
        <p-dataTable [value]="retailAuditForms" [rows]="15" [immutable]="false"  [paginator]="true"  #dt>
                    <p-column field="name" header="Name" [sortable]="true">
                        <ng-template let-col let-retailAuditForm="rowData" pTemplate="body">
                            <span [style.color]="retailAuditForm[col.field]">{{retailAuditForm[col.field]}}</span>
                        </ng-template>
                    </p-column>
  
                    <p-column field="description" header="Description" [sortable]="true">
                        <ng-template let-col let-retailAuditForm="rowData" pTemplate="body">
                            <span [style.color]="retailAuditForm[col.field]">{{retailAuditForm[col.field]}}</span>
                        </ng-template>
                    </p-column>
  
                    <p-column styleClass="col-button">
                          <ng-template pTemplate="header">
                          </ng-template>
                          <ng-template let-retailAuditForm="rowData" pTemplate="body">
                              <div align="center">
                                  <a [routerLink] ="['/retailauditform',retailauditform.id]">
                                      <button type="button"  class="btn btn-sm btn-danger">
                                          <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                      </button>
                                  </a>
                              </div>
                           </ng-template>
                     </p-column>
  
                    <p-column styleClass="col-button">
                        <ng-template pTemplate="header">
                        </ng-template>
                        <ng-template let-retailAuditForm="rowData" pTemplate="body">
                             <div align="center">
                                <button type="button" class="btn btn-sm btn-danger" (click)="deleteRetailFormApi(retailAuditForm)">
                                   <i class="fa fa-trash" aria-hidden="true"></i>
                               </button>
                             </div>
                        </ng-template>
                    </p-column>
                </p-dataTable>
         <!-- End Forms List Table -->
    
    
    </div>